@media screen and (max-width:  1680px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 1141px;
    }

    .headerseredina {
        margin-left: 670px;
    }

    .formi {
        margin-left: 350px;
    }

    .l {
        margin-left: 385px;
    }

    .bog {
        width: 1440px;
    }

    .vremya2 {
        margin-left: 310px;
    }

    .vremya {
        width: 1640px;
    }

    .not {
        width: 1640px;
    }

    .tn {
        margin-left: 200px;
    }

    .zak {
        margin-left: 1150px;

    }

    .nro {
        width: 1640px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1640px;
    }

}

@media screen and (max-width:  1600px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 1141px;
    }

    .headerseredina {
        margin-left: 600px;
    }

    .formi {
        margin-left: 350px;
    }

    .l {
        margin-left: 385px;
    }

    .bog {
        width: 1583px;
    }

    .vremya2 {
        margin-left: 310px;
    }

    .vremya {
        width: 1583px;
    }

    .not {
        width: 1583px;
    }

    .tn {
        margin-left: 200px;
    }

    .zak {
        margin-left: 1070px;

    }

    .nro {
        width: 1583px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1583px;
    }

}

@media screen and (max-width:  1440px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 1141px;
    }

    .headerseredina {
        margin-left: 450px;
    }

    .formi {
        margin-left: 250px;
    }

    .l {
        margin-left: 285px;
    }

    .bog {
        width: 1423px;
    }

    .vremya2 {
        margin-left: 210px;
    }

    .vremya {
        width: 1423px;
    }

    .not {
        width: 1423px;
    }

    .tn {
        margin-left: 100px;
    }

    .zak {
        margin-left: 930px;

    }

    .nro {
        width: 1423px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1423px;
    }

}

@media screen and (max-width:  1366px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 1090px;
    }

    .headerseredina {
        margin-left: 370px;
    }

    .formi {
        margin-left: 250px;
    }

    .l {
        margin-left: 285px;
    }

    .bog {
        width: 1349px;
    }

    .vremya2 {
        margin-left: 210px;
    }

    .vremya {
        width: 1349px;
    }

    .not {
        width: 1349px;
    }

    .tn {
        margin-left: 30px;
    }

    .zak {
        margin-left: 860px;

    }

    .nro {
        width: 1349px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1349px;
    }

}

@media screen and (max-width:  1280px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 1000px;
    }

    .headerseredina {
        margin-left: 300px;
    }

    .formi {
        margin-left: 155px;
    }

    .l {
        margin-left: 200px;
    }

    .bog {
        width: 1263px;
    }

    .vremya2 {
        margin-left: 120px;
    }

    .vremya {
        width: 1263px;
    }

    .not {
        width: 1263px;
    }

    .tn {
        margin-left: 30px;
    }

    .zak {
        margin-left: 780px;

    }

    .nro {
        width: 1263px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1263px;
    }

    .tn {
        width: 200px;
        margin-left: 15px;
    }

    .ton {
        width: 200px;
    
    }
    
    .tonic {    
        width: 200px;
    
    }
    
    .toni {
        width: 200px;
    
    }
    
    .on {
        width: 200px;   
    
    }
    
}

@media screen and (max-width:  1128px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 860px;
    }

    .headerseredina {
        margin-left: 150px;
    }

    .formi {
        margin-left: 80px;
    }

    .l {
        margin-left: 140px;
    }

    .bog {
        width: 1111px;
    }

    .vremya2 {
        margin-left: 40px;
    }

    .vremya {
        width: 1111px;
    }

    .not {
        width: 1111px;
        flex-direction: column;
        height: 500px;
    }

    .tn {
        margin-left: 30px;
        margin-left: 190px;
    }

    .zak {
        margin-left: 620px;

    }

    .nro {
        width: 1111px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1111px;
    }

    .tn {
        width: 200px;
        margin-left: 190px;
    }

    .ton {
        width: 200px;
    
    }
    
    .tonic {    
        width: 200px;
    
    }
    
    .toni {
        width: 200px;
        margin-left: 300px;
        margin-top: 20px;
    
    }
    
    .on {
        width: 200px; 
        margin-top: 20px;  
    
    }
    
}

@media screen and (max-width:  1024px) {
    .mom {
        margin-left: 40px;
    } 

    .zal {
        width: 755px;
    }

    .headerseredina {
        margin-left: 40px;
    }

    .formi {
        margin-left: 30px;
    }

    .l {
        margin-left: 70px;
    }

    .bog {
        width: 1007px;
    }

    .vremya2 {
        margin-left: 10px;
    }

    .vremya3 {
        margin-left: 30px;
    }

    .vremya4 {
        margin-left: 30px;
    }

    .vremya5 {
        margin-left: 30px;
    }

    .vremya {
        width: 1007px;
    }

    .not {
        width: 1007px;
        flex-direction: column;
        height: 500px;
    }

    .tn {
        margin-left: 30px;
        margin-left: 150px;
    }

    .zak {
        margin-left: 520px;

    }

    .nro {
        width: 1007px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 1007px;
    }

    .tn {
        width: 200px;
        margin-left: 190px;
    }

    .ton {
        width: 200px;
    
    }
    
    .tonic {    
        width: 200px;
    
    }
    
    .toni {
        width: 200px;
        margin-left: 260px;
        margin-top: 20px;
    
    }
    
    .on {
        width: 200px; 
        margin-top: 20px;  
    
    }
    
}

@media screen and (max-width:  800px) {
    .mom {
        margin-left: 210px;
    } 

    .zal {
        display: none;
    }

    .headerseredina {
        margin-left: 0px;
    }

    .comanda {
        margin-left: 130px;
    }

    .kal {
    margin-left: 0px;
    width: 200px;
    height: 60px;

    }

    .formi {
        margin-left: 15px;
        width: 240px;
    }

    .fo {
        margin-left: 15px;
        width: 240px;
    }

    .f {
        margin-left: 15px;
        width: 240px;
    }

    .l {
        margin-left: 35px;
        width: 350px;
    }

    .poylo {
        margin-left: 10px;
        width: 350px;

    }

    .po {
        margin-left: 7px;
        margin-top: 202px;
    }

    .o {
        margin-left: 7px;
    }

    .flo {
        margin-left: 7px;
    }

    .yo {
        width: 331px;
        margin-top: 218px;
    }

    .poyl {
        width: 331px;
    }

    .bog {
        width: 783px;
    }

    .vremya2 {
        margin-left: 40px;
    }

    .vremya3 {
        margin-left: 30px;
    }

    .vremya4 {
        margin-left: 30px;
    }

    .vremya5 {
        display: none;
    }

    .vremya {
        width: 783px;
    }

    .not {
        width: 783px;
        flex-direction: column;
        height: 500px;
    }

    .tn {
        margin-left: 30px;
        margin-left: 150px;
    }

    .zak {
        margin-left: 300px;

    }

    .nro {
        width: 783px;
    }
    
    .boginya {
        width: 100px;
        display: flex;
        flex-direction: row;
    }

    .zeni {
        width: 783px;
    }

    .tn {
        width: 200px;
        margin-left: 30px;
    }

    .ton {
        width: 200px;
    
    }
    
    .tonic {    
        width: 200px;
    
    }
    
    .toni {
        width: 200px;
        margin-left: 150px;
        margin-top: 20px;
    
    }
    
    .on {
        width: 200px; 
        margin-top: 20px;  
    
    }

    .kglh {
        width: 400px;
    }
    
}































@media screen and (max-width:  370px){
    
    .headercenter{
        margin-left: 0px;
        flex-direction: column;
    }

    .kal {
        margin-left: 49px;
    }

    .comanda {
        margin-left: 17px;
        margin-right: 30px;
        margin-top: 10px;
    }

    .proecti {
        margin-left: 0px;
        margin-right: 30px;
        margin-top: 10px;
    }

    .otzivi {
        margin-left: 0px;
        margin-top: 10px;
    }

    .mom{
        margin-left: 50px;
        width: 300px;
        margin-top: 0px;
    } 

    .bog{
        flex-direction: column;
        width: 70px;
    }

    .formi {
        margin-left: 50px;
    }

    .l {
        margin-left: 50px;
        width: 284px;
    
    }

    .yo {
        width: 226px;
        margin-left: 27px;
    }

    .poyl {
        margin-top: 130px;
        width: 242px;
        margin-left: 27px;
    }

    .poylo {
        width: 284px;
    }

    .vremya {
        margin-top: 1350px;
    }

    .dopi{
        width: 370;
    }

    .uslo{
        width: 370px;
    }

    .cen {
        width: 370px;
    }

    .vremya {
        flex-direction: column;
        height: 1350px;
        width: 370px;
    }

    .vremya2 {
        margin-left: 80px;
    }

    .vremya3 {
        margin-left: 70px;
    }
    
    .vremya4 {
        margin-left: 80px;
    }
    .vremya5 {
        margin-left: 60px;
    }

    .zal {
        display: none;
    }

    .not {
        flex-direction: column;
        height: 1200px;
        width: 370px;
    }

    .tn {
        margin-left: 80px;
    }

    .ton{
        margin-top: 30px;
        margin-left: 80px;
    }

    .tonic {
        margin-top: 30px;
        margin-left: 80px;
    }

    .toni {
        margin-top: 30px;
        margin-left: 80px;
    }

    .on {
        margin-top: 30px;
        margin-left: 80px;
    }

    .nitron {
        margin-left: 0px;
    }

    .nro {
        width: 370px;
        height: 500px;
        flex-direction: column;
    }

    .nitrom {
        margin-left: 0px;
    }

    .headerseredina {
        width: 370px;
    }

    .zakazatsayt {
        margin-left: 134px;
    }

    .zeni {
        width: 370px;
    }

    .razrab {
        margin-top: 100px;
    }

    .razrabi {
        margin-top: 100px;
    }

    .alas {
        margin-top: 100px;
    } 

    .joj {
        margin-top: 100px;
    }

    
}